<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
  <listener class-name="hms.EventReportListener.ExtentReporterNG"/>
  </listeners> 
  <test thread-count="5" name="Test">
 <classes>
  <class name="adminpaneltestcase.Logintest"></class>
  <class name="adminpaneltestcase.dashboardtest"></class>
  <class name="adminpaneltestcase.frontofficetest"></class>
  <class name="adminpaneltestcase.visitortest"></class>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
